@import "./mixins.scss";
@import "./variables.scss";

//Container display
.flex {
    display: flex;
}
.block {
    display: block;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.desktop {
    @include mobile {
        display: none;
    }
}
.mobile {
    @include desktop {
        display: none;
    }
}

//Position
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

//Flex alignment
.flex-align-center {
    align-items: center;
}
.flex-align-top {
    align-items: baseline;
}
.flex-align-bottom {
    align-items: end;
}

.flex-justify-left {
    justify-content: flex-start;
}
.flex-justify-right {
    justify-content: flex-end;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-around {
    justify-content: space-around;
}
.flex-justify-evenly {
    justify-content: space-evenly;
}
.flex-wrap {
    flex-wrap: wrap;
}

//Width container

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;

    @include desktop {
        width: 80%;
    }
}

//Stylized containers
.section {
    position: relative;
    padding: 4rem 0;
    background-image: linear-gradient(-45deg, $primary-color, $white);
}
.section-alt {
    position: relative;
    padding: 4rem 0;
    background: $white;
    
}
.bg-white {
    background: $white;
    border-radius: 5px;
    padding: 1.5rem;
}
.box-shadow {
    box-shadow: 3px 1px 5px $secondary-color, -3px -1px 5px $secondary-color;
}




