@import "./mixins.scss";

//Container display
.flex {
    display: flex;
}
.block {
    display: block;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.desktop {
    @include mobile {
        display: none;
    }
}
.mobile {
    @include desktop {
        display: none;
    }
}

//Position
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

//Flex alignment
.flex-align-center {
    align-items: center;
}
.flex-align-top {
    align-items: baseline;
}
.flex-align-bottom {
    align-items: end;
}

.flex-justify-left {
    justify-content: baseline;
}
.flex-justify-right {
    justify-content: end;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-around {
    justify-content: space-around;
}
.flex-justify-evenly {
    justify-content: space-evenly;
}

//Width container

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
        width: 80%;
    }
}

.section {
    margin: 2rem 0;
}




