@import "./variables.scss";
@import "./mixins.scss";

html {
    font-size: 16px;
    font-family: $primary-font;
    color: $tertiary-color;
    line-height: 1.2;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

img,
svg {
    display: block;
    width: 100%;
}

a,
button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;

    & > * {
        pointer-events: none;
    }
}

p,
blockquote {
    margin-bottom: 0.875rem;
}

blockquote {
    padding-left: 1rem;
    border-left: 5px solid $quinary-color;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}