@import "./variables.scss";

@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin active-nav {

    @include desktop {
        font-weight: 600;
        &::after {
            content: "";
            background-color: $secondary-color;
            width: 10px;
            height: 10px;
            display: block;
            border-radius: 50%;
            position: absolute;
            bottom: -0.8rem;
        }
    }

    @include mobile {
        font-weight: 600;
        color: $quaternary-color;
        &::after {
            content: "";
            background-color: $quaternary-color;
            width: 10px;
            height: 10px;
            display: block;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}