@import "./variables.scss";

.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

//Headings
.subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 1.5rem;
    background: -webkit-linear-gradient(45deg, $secondary-color, rgba(31, 32, 65, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}