//colors
$primary-color: #A2D6F9;
$secondary-color: #1F2041;
$tertiary-color: #4B3F72;
$quaternary-color: #FFC857;
$quinary-color: #19647E;
$white: #ffffff;
$black: #000000;

//Fonts
$primary-font: "Poppins";