@import "../styles/variables.scss";

body.page-error {
    .hero {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/bg_light-blue.jpg);
    }

    .error-link {
        font-weight: 600;
        width: fit-content;
    
        &:hover {
            color: $quinary-color;
        }
        &:focus {
            outline: 2px dotted $secondary-color;
        }
    }
}