@import "../styles/mixins.scss";
@import "../styles/variables.scss";


.page-blog {
    .hero {
        background-image: url(../assets/bg_hero-blog.webp);

        @include desktop {
            background-position-y: -150px;
        }
        
        h1 {
            @include mobile {
                line-height: 2;
            }
        }
    }
    .posts__container {
        width: 100%;
    }
    .callout .callout__ctas a {
        width: 43%;
    }
}