@import "../styles/variables.scss";
@import "../styles/mixins.scss";

body.page-homepage {
        background: linear-gradient(to bottom, rgba(108, 129, 248, 0.52), rgba(145, 216, 255, 0.73)),
        url('../assets/bg_clouds.webp');
        background-attachment: fixed;
    
    main {

        .section {
            background: none;
        }

        .hero {
            background-repeat: no-repeat;
            background-size: cover;
            padding: 4rem 0;
            color: $white;

            .hero__header {
                font-family: $secondary-font;
                text-align: center;
                line-height: 1;
                position: relative;
                margin-bottom: 2rem;

                h1 {
                    font-size: 5rem;
                    opacity: 0;
                    top: 2rem;
                    margin-bottom: 3rem;
                    transition: opacity 0.75s linear, top 0.75s linear;

                    @include mobile {
                        font-size: 4.5rem;
                    }

                }
                p {
                    font-size: 3rem;
                    opacity: 0;
                    top: 2rem;
                    transition: opacity 0.75s linear, top 0.75s linear;
                    transition-delay: 0.75s;
                }
            }

            .verse {
                opacity: 0;
                top: 2rem;
                transition: opacity 0.75s linear, top 0.75s linear;
                transition-delay: 0.75s;

                @include mobile {
                    width: 100%;
                }
            }

            .hero-shadow {
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
                box-shadow: 0 -1px 8px $secondary-color;
            }
        }
        section.sunday-service {
            min-height: 10rem;

            .container {
                box-shadow: 5px 2px 10px $secondary-color;

                .sunday-service__callout {
                    z-index: 2;
                    padding: 2rem 0;

                    a:hover {
                        color: $secondary-color;
                    }
                    a:focus {
                        outline: 2px dotted $secondary-color;
                    }
                }
            }

            @include mobile {
                min-height: 14rem;
            }

            .callout {
                position: absolute;
                top: 5rem;
                left: 50%;
                transform: translate(-50%, 0);
            }

        }
        section.welcome {

            .welcome__container {
                width: 100%;

                .welcome__copy,
                .welcome__video {
                    width: 100%;

                    @include desktop {
                        width: 49%;
                    }
                }
                .welcome__copy {
                    @include mobile {
                        margin-bottom: 1rem;
                    }
                }
                .welcome__video iframe {
                    width: 100%;
                    aspect-ratio: 1.77;
                    border-radius: 5px;
                }
            }

        }
        section.ctas {
            .ctas__container {
                color: $white;
                font-size: 1.125rem;

                .cta__content {
                    width: 100%;
                    padding: 2rem 1.5rem;
                    margin: 2rem;

                    @include desktop {
                        max-width: 15rem;
                        min-height: 21rem;
                    }

                    .cta__icon {
                        height: 80px;
                        margin-bottom: 2rem;

                        svg {
                            fill: $white;
                        }
                    }

                    .cta__copy {
                        margin-bottom: 2rem;
                    }

                    .cta__link a {
                        @include callout-button($secondary-color, $white, $secondary-color, $white, $secondary-color, $secondary-color, $secondary-color );

                        @include mobile {
                            max-width: 100%;
                        }

                        @include desktop {
                            position: absolute;
                            top: 16.5rem;
                        }
                    }
                }
                .cta__content {
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .cta__content.about {
                    background-image: linear-gradient(rgba(31, 32, 65, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/bg_about-us.jpg");
                }
                .cta__content.beliefs {
                    background: linear-gradient(rgba(31, 32, 65, 0.5), rgba(255, 255, 255, 0.5)), rgba(31, 32, 65, 0.5) url("../assets/bg_beliefs.jpg");
                }
                .cta__content.blog {
                    background: linear-gradient(rgba(31, 32, 65, 0.5), rgba(255, 255, 255, 0.5)), rgba(31, 32, 65, 0.5) url("../assets/bg_blog.jpg");
                }
            }
        }

        //Animation styles
        .hero.animate {

            .hero__overlay {
                opacity: 0;
            }

            .hero__header h1 {
                opacity: 1;
                top: 0;
                background: $quinary-color;
            }

            .hero__header p {
                opacity: 1;
                top: 0;
                background: $quinary-color;

                @include desktop {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .verse {
                opacity: 1;
                top: 0;
                
                @include desktop {
                    width: 50%;
                }
            }
        }
    }

    .sunday-accent {
        position: absolute;
        background: $secondary-color;
        width: 50%;
        height: 72%;
        right: 5%;
        top: 15%;

        @include mobile {
            height: 80%;
            top: 10%;
            right: 0;
            transform: translate(-50%, 0);
        }
    }

    .cta__accent {
        background: $secondary-color;
        width: 100%;
        height: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;

        @include mobile {
            width: 50%;
            height: 100%;
        }
    }
}