body.page-privacy {
    section.privacy {
        padding-top: 2rem;


        h2 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
        }
        p {
            margin-bottom: 1.5rem;
        }
    }
}