body.page-privacy {

    .hero {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/bg_light-blue.jpg);
    }
    
    section.privacy {
        padding-top: 2rem;


        h2 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
        }
        p {
            margin-bottom: 1.5rem;
        }
    }
}