@import "../styles/variables.scss";

.page-sitemap {

    .hero {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/bg_light-blue.jpg);
    }
    
    .sitemap__content {
        font-size: 1.5rem;

        a {
            padding-left: 1rem;
            margin-bottom: 1rem;
        }
        a::before {
            content: "";
            display: block;
            background: $secondary-color;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }
    }
}