@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.back-to-top {
    right: 5px;
    bottom: 5px;
    z-index: 2;

    a {
        height: 2.5rem;
        width:2.5rem;
        border: 2px solid $white;
        background: $white;
        border-radius: 50%;
        text-decoration: none;

        @include mobile {
            height: 1.5rem;
            width: 1.5rem;
        }

        svg {
            height: auto;
            fill: $secondary-color;
        }
    }
    a:hover {
        background: $secondary-color;
        color: $secondary-color;
        border-color: $secondary-color;

        svg {
            fill: $white;
        }
    }
    a:focus {
        outline: 2px dotted $quaternary-color;
    }
}