@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.back-to-top {
    right: 5px;
    bottom: 5px;
    z-index: 2;

    a {
        height: 2.5rem;
        width:2.5rem;
        border: 2px solid $white;
        background: $secondary-color;
        border-radius: 50%;
        text-decoration: none;

        @include mobile {
            height: 1.5rem;
            width: 1.5rem;
        }

        &::after {
            content: "\1F845";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 1rem;
            font-weight: 700;
        }
    }
    a:hover {
        background: $white;
        color: $secondary-color;
        border-color: $secondary-color;

        &::after {
            color: $secondary-color;;
        }
    }
    a:focus {
        outline: 2px dotted $quaternary-color;
    }
}