@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.callout {
    width: 80%;
    margin: 0 auto;
    border: 5px solid $quinary-color;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $white;

    @include desktop {
        min-width: 28rem;
        max-width: 30rem;
    }

    &.last {
        top: 0;
    }

    .callout__content {
        padding: 2rem 1rem;
        color: $quinary-color;
    }

    .callout__copy {
        margin-bottom: 2rem;

        h2 {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
    .callout__ctas {
        a {
            text-decoration: none;
            background: $white;
            border: 4px solid $quinary-color;
            border-radius: 5px;
            width: 100%;
            max-width: 14rem;
            padding: 0.5rem 0.25rem;
            color: $quinary-color;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a:first-of-type {
            @include mobile {
                margin-bottom: 1rem;
            }
        }
        a:hover {
            background-color: $quinary-color;
            color: $white;
        }
        a:focus {
            outline: 2px dotted $quinary-color;
        }
    }
    .callout__accent {
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        background-color: transparent;

        svg {
            fill: $quaternary-color;
            height: 100%;
        }
    }
}