---
import "@components/Callout.scss";
import ExclamationSVG from "@components/ExclamationSVG.astro";
export interface Props {
    copy: string;
    href: string;
    hrefComp: string;
    last: boolean;
}

const { copy, href, hrefComp, last } = Astro.props;
---

<div class={`callout flex flex-align-center flex-justify-center ${last ? "last" : ""}`}>
    <div class="callout__content text-center">
        <div class="callout__copy">
            <h3>{copy}</h3>
        </div>
        <div class="callout__ctas flex flex-align flex-justify-evenly flex-wrap">
            <Fragment set:html={href} />
            {hrefComp == "" ? "" : <Fragment set:html={hrefComp} />}
        </div>
    </div>
    <div class="callout__accent absolute">
        <ExclamationSVG />
    </div>
</div>