---
import "./Footer.scss";
import LogoSmall from "@assets/logo_church-small.png";
import FacebookSVG from "./FacebookSVG.astro";
import YoutubeSVG from "./YoutubeSVG.astro";
export interface Props {
    lang: string;
}

const { lang } = Astro.props;
---

<footer class="relative">
    <div class="container footer-navigation flex flex-align-center flex-justify-center">
        <nav class="footer-nav__main-nav flex flex-align-center flex-justify-center" aria-label="Footer navigation bar">
            <a class="flex flex-align-center" href={lang == "es" ? "/contacto" : "/en/contact-us"}><span>{lang == "es" ? "Contacto" : "Contact"}</span></a>
            <a class="flex flex-align-center" href={lang == "es" ? "/politica-de-privacidad" : "/en/privacy-policy"}><span>{lang == "es" ? "Privacidad" : "Privacy"}</span></a>
            <a class="flex flex-align-center" href={lang == "es" ? "/mapa-del-sitio" : "/en/sitemap"}><span>Sitemap</span></a>
        </nav>
        <div class=" flex flex-align-center footer-nav__second-nav">
            <div class="footer-nav__social-links flex flex-align-center flex-justify-center">
                <a href="https://www.facebook.com/IglesiaNazarenaGraciadeDios" target="_blank" rel="noopner" aria-label={lang == "es" ? "Siguenos en Facebook" : "Follow us on Facebook"}><FacebookSVG /></a>
                <a href="https://www.youtube.com/@iglesiadelnazarenograciade8537" target="_blank" rel="noopner" aria-label={lang == "es" ? "Siguenos en Youtube" : "Follow us on Youtube"}><YoutubeSVG /></a>
            </div>
            <div class="footer-nav__donate-links">
                <a href="https://www.canadahelps.org/en/charities/toronto-grace-of-god-spanish-church-of-the-nazarene/?moregiving=1" target="_blank" rel="noopner"><span>{lang == "es" ? "Donaciones" : "Donate"}</span></a>
            </div>
        </div>
    </div>
    <div class="footer-nav__copyright container flex flex-align-bottom flex-justify-center">
        <div class="footer__logo">
            <img alt="" src={LogoSmall} />
        </div>
        <div class="footer__copy">
            <p class="footer__copy-services">
                {lang == "es" ? 
                <span>Servicio de Adoracion: domingos a las 3:00pm - <a href="/servicios-ubicacion#location" class="inline">en persona</a> y <a href="https://www.iglesia@graciadedios.ca/@iglesiadelnazarenograciade8537" class="inline">en linea</a></span> : 
                <span>Worship Service: Sundays at 3:00pm - <a href="/en/services-location#location" class="inline">in person</a> and <a href="https://www.iglesia@graciadedios.ca/@iglesiadelnazarenograciade8537" class="inline">online</a></span>
                }
            </p>
            <p class="footer__copy-copyright">&copy; <span id="currentYear"></span>
                {lang == "es" ?
                    <span> Iglesia del Nazareno, Gracia de Dios. Derechos Reservados.</span> :
                    <span> Church of the Nazarene, Grace of God. All Rights Reserved.</span>
                }
            </p>
        </div>
    </div>
</footer>
<script>
    window.addEventListener("load", () => {
        const date = new Date;
        document.getElementById("currentYear").innerText = date.getFullYear().toString();
    })
</script>