@import "../styles/mixins.scss";
@import "../styles//variables.scss";

footer {
    width: 100%;
    background-color: $secondary-color;
    color: $white;

    a:hover {
        color: $quaternary-color;
    }
    a:focus {
        outline: 1px dotted $white;

        @include desktop {
            outline: 2px dotted $white;
        }
    }
    
    @include desktop {
        font-size: 0.8rem;
    }

    .footer-navigation {
        flex-wrap: wrap;

        .footer-nav__main-nav {
            width: 100%;
            flex-wrap: wrap;
            padding: 1rem 0;
            border-bottom: 1px solid $white;

            @include desktop {
                width: unset;
                flex-wrap: nowrap;
                border: none;
                padding: 0;
            }
             
            a {
                width: 100%;
                padding: 0.5rem 0;
                text-align: center;

                @include desktop {
                    width: fit-content;
                    margin-right: 2rem;
                }
            }
            
            a span {
                margin: 0 auto;

                @include desktop {
                    margin: 0;
                }
            }
        }

        .footer-nav__second-nav {
            width: 100%;
            flex-wrap: wrap;
            padding: 1rem 0;
            border-bottom: 1px solid $white;

            @include desktop {
                flex-wrap: nowrap;
                width: unset;
                border: none;
                padding: 0;
            }

            .footer-nav__social-links {
                width: 100%;

                @include desktop {
                    width: unset;
                }

                a {
                    width: 3rem;
                    margin: 0 0.5rem;

                    @include desktop {
                        margin: 0 2rem 0 0;
                        width: 1.5rem;
                    }

                    svg {
                        fill: $white;
                    }
                }
                a:hover {
                    transform: scale(1.2);
                }
            }
            .footer-nav__donate-links {
                width: 100%;

                @include desktop {
                    width: unset;
                }

                a {
                    width: 10rem;
                    background-color: $quaternary-color;
                    color: $secondary-color;
                    border: 2px solid $white;
                    border-radius: 30px;
                    text-align: center;
                    margin: 1rem auto 0 auto;
                    padding: 0.5rem 0;
                    text-decoration: none;

                    @include desktop {
                        margin: 0;
                    }
                }

                a:hover {
                    background-color: $white;
                    color: $secondary-color;
                    border-color: $secondary-color;
                    font-weight: 600;
                }
                a:focus {
                    outline: 1px dotted $white;

                    @include desktop {
                        outline: 2px dotted $white ;
                    }
                }
            }
        }
    }

    .footer-nav__copyright {
        padding: 1rem 0;

        .footer__logo {
            margin-right: 1rem;

            img {
                width: 5rem;
                filter: brightness(15);
            }
        }

        .footer__copy {
            flex-wrap: wrap;

            p {
                width: 100%;

                &:first-of-type {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}