@import "../styles/mixins.scss";
@import "../styles//variables.scss";

header {
    padding-top: 2rem;
    height: 6rem;
    width: 100%;
    background: $white;
    box-shadow: 0 3px 8px $secondary-color;
    z-index: 2;

    @include desktop {
        font-size: 0.825rem;
        padding: 1rem 0;
        height: fit-content;
    }

    a:focus {
        outline: 2px dotted $secondary-color;

        @include mobile {
            outline-color: $quaternary-color;
        }
    }

    .navbar__logo.mobile {
        width: 6rem;
        position: absolute;
        left: 0;
        z-index: 2;
        padding-left: 5%;
        padding-top: 2rem;
        z-index: 11;

        img {
            filter: contrast(2);
        }
    }

    .navbar__language.mobile {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 2rem;
        z-index: 11;
    }

    .navbar__mobile-menu {
        position: absolute;
        right: 0;
        width: 3.5rem;
        height: 3.5rem;
        padding-right: 5%;
        padding-top: 2rem;
        z-index: 11;

        button {
            width: 100%;
            height: 100%;

            span:first-of-type::before,
            span:first-of-type::after,
            span:last-of-type::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $secondary-color;
            }

            span:first-of-type::before {
                top: 0;
            }
            span:first-of-type::after {
                top: 50%;
                transform: translate(0, -50%);
            }
            span:last-of-type::before {
                bottom: 1px;
            }
        }
    }

    .navbar__panel {
        display: none;
        color: $white;

        @include desktop {
            color: $secondary-color;
            display: flex;
            width: 100%;
        }

        .navbar__main-nav {
            flex-wrap: wrap;

            @include desktop {
                flex-wrap: nowrap;
                width: 45%;
            }

            a {
                text-decoration: none;
                width: 100%;
                padding: 1.5rem 0;
                border-bottom: 1px solid $white;
                line-height: 1.1;

                @include desktop {
                    margin-right: 1.5rem;
                    width: 25%;
                    padding: 0;
                }
            }

            a:hover {
                @include active-nav;
            }
        }

        .navbar__logo.desktop {
            width: 10%;
            margin-right: 1rem;
            max-width: 85px;
        }
        .navbar__second-nav {

            @include mobile {
                flex-wrap: wrap;
                padding: 1.5rem 0;
            }

            .navbar__second-nav-social-links {
                width: 100%;

                @include desktop {
                    width: 45%;
                }

                a.second-nav__social {
                    width: 3rem;
                    margin: 0 1rem;

                    @include desktop {
                        color: $secondary-color;
                        width: 2.5rem;
                        margin: 0 1rem 0 0;
                    }

                    svg {
                        fill: $white;

                        @include desktop {
                            fill: $secondary-color;
                        }
                    }
                }
                a:hover {
                    transform: scale(1.2);
                }
            }
            .navbar__second-nav-donate-links {

                @include mobile {
                    width: 100%;
                    border-bottom: 1px solid $white;
                    padding-bottom: 1.5rem;
                }

                a.second-nav__donate {
                    margin: 2rem auto 0 auto;
                    width: 10rem;
                    text-align: center;
                    text-decoration: none;
                    background-color: $quaternary-color;
                    color: $secondary-color;
                    border: 2px solid $white;
                    border-radius: 5px;
                    padding: 0.5rem 0;

                    @include desktop {
                        margin: 0 1rem 0 0;
                        width: 6rem;
                        border: 2px solid $secondary-color;
                    }
                }

                a:hover {
                    background-color: $secondary-color;
                    color: $white;
                    font-weight: 600;
                }
            }
        }
    }
    .navbar__panel.expanded {
        display: initial;

        @include mobile {
            position: fixed;
            inset: 0;
            background-color: $secondary-color;
            padding: 6rem 5%;
            z-index: 10;
        }
    }
}

//Styles when mobile menu is expanded
header.expanded {
    .navbar__logo.mobile {
        img {
            filter: brightness(15);
        }
    }
    .navbar__mobile-menu button {
        span:first-of-type::before {
            transform: rotate(45deg) translate(0 ,-50%);
            background-color: $white;
            top: 50%;
        }
        span:first-of-type::after {
            display: none;
        }
        span:last-of-type::before {
            transform: rotate(-45deg) translate(0, -50%);
            background-color: $white;
            bottom: unset;
            top: 50%;
        }
    }
}