@import "../styles/variables.scss";

.hero {
    padding: 4rem 0;
    background: $primary-color;
    color: $white;

    h1 {
        font-size: 3rem;
        font-family: $secondary-font;
        margin-bottom: 4rem;
    }

    &.no-verse {
        h1 {
            margin-bottom: 0;
        }
    }

    .hero-shadow {
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: 0 -1px 8px $secondary-color;
    }
}