@import "../styles/variables.scss";

.hero {
    padding: 4rem 0;
    background: $primary-color;
    color: $white;
    box-shadow: 0 3px 8px $secondary-color;
    z-index: 1;

    h1 {
        font-size: 3rem;
        font-family: $secondary-font;
        margin-bottom: 4rem;
    }

    &.no-verse {
        h1 {
            margin-bottom: 0;
        }
    }
}