<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.4382629025436!2d-79.48435178465795!3d43.65985427912111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b369072319027%3A0xc2230d74dd79471b!2s624%20Annette%20St%2C%20Toronto%2C%20ON%20M6S%202C4!5e0!3m2!1sen!2sca!4v1678807288779!5m2!1sen!2sca" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>