@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.post {
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 10px solid $secondary-color;
    border-radius: 5px;

    &:hover {
        border-color: $quaternary-color;
    }
    &:focus {
        outline: 2px dotted $secondary-color;
        outline-offset: 5px;
    }

    .post__title {
        margin-bottom: 0.5rem;
        text-decoration: underline;
        font-size: 1.5rem;
    }

    .post__details {
        margin-top: 1rem;
        p {
            padding: 0 0.5rem;
        }
        p:first-of-type {
            padding-left: 0;
        }

        p:not(:last-of-type) {
            border-right: 2px solid $tertiary-color;
        }
    }
}