---
import "@components/ProfileCard.scss";
import TapSVG from "@components/TapSVG.astro";
export interface Props {
    image: string;
    name: string;
    position: string;
    motto: string;
}

const { image, name, position, motto } = Astro.props;
---

<button class="profile-card front relative">
    <div class="profile-card__front relative text-center">
        <div class="profile__tap-icon mobile">
            <TapSVG />
        </div>
        <div class="profile__image">
            <img src={image} alt="" />
        </div>
        <div class="profile__copy">
            <div class="profile__name">
                <p>{name}</p>
            </div>
            <div class="profile__position">
                <p>{position}</p>
            </div>
        </div>
    </div>
    <div class="profile-card__back" aria-hidden="true">
        <div class="profile__motto">
            <p>{motto}</p>
        </div>
    </div>
</button>
<script>
    document.querySelectorAll(".profile-card").forEach(v => {
        v.addEventListener("click", (e) => {
            if(e.target.classList.contains("back")) {
                e.target.classList.add("front");
                e.target.classList.remove("back")
                e.target.querySelector(".profile-card__front").removeAttribute("aria-hidden");
                e.target.querySelector(".profile-card__back").setAttribute("aria-hidden", "true");
            }
            else {
                e.target.classList.add("back");
                e.target.classList.remove("front")
                e.target.querySelector(".profile-card__back").removeAttribute("aria-hidden");
                e.target.querySelector(".profile-card__front").setAttribute("aria-hidden", "true");
            }
        })
    })
</script>