@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.quick-links {
    width: 100%;
    font-size: 0.875rem;
    margin-top: -32px;
    color: $white;
    z-index: 3;

    @include mobile {
        font-size: 0.875rem;
    }

    .quick-links__container {
        margin: 0 auto;
        background-color: $secondary-color;
        border-radius: 5px;

        @include desktop {
            width: 75%;
        }

        @include mobile {
            display: block;
            padding: 0.25rem 0;
        }

        a {
            padding: 1rem 0;

            @include mobile {
                padding: 0.25rem 0;
            }
        }
    }
}