---
import "@components/Verse.scss";
export interface Props {
    copy: string;
    book: string;
}

const { copy, book } = Astro.props;
---

<div class="verse__container relative">
    <div class="verse__accent absolute"></div>
    <div class="verse__copy relative">
        <p>{copy}</p>
    </div>
    <div class="verse__book text-right relative">
        <p><i>-{book}</i></p>
    </div>
</div>