---
import Verse from './Verse.astro';
import '@components/VerseOfTheDay.scss';

export interface Props {
    lang: string;
}

const { lang } = Astro.props; 
---

<div data-lang={lang} class="verse-of-the-day">
    <Verse 
        book=""
        copy=""
    />
</div>
<script>
    window.addEventListener("load", () => {
        const verse = document.querySelector(".verse-of-the-day");
        const lang = verse.getAttribute("data-lang");
        const verseContent = document.querySelector(".verse__copy");
        const verseBook = document.querySelector(".verse__book");

        fetch(`/api/verse/?${lang}`)
        .then(response => response.json())
        .then(data => {
            verseContent.innerHTML = data.content;
            verseBook.innerHTML = `<p><i>${data.reference}</i></p>`;
        })
    })
</script>