<div class="video">
    <iframe src="https://www.youtube-nocookie.com/embed/K4TOrB7at0Y" title="YouTube video player" allow="encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe>
</div>