<div class="welcome__video">
    <iframe src="https://www.youtube-nocookie.com/embed/BZPaJc8mB7g?start=16" title="YouTube video player" allow="encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe>
</div>